# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environment
venv/
.venv/

# Environment variables
infra/.env

# Django
db.sqlite3
*.log
staticfiles/
media/
celerybeat-schedule
backend/celerybeat-schedule

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Coverage
htmlcov/
.coverage
.coverage.*

# Build artifacts
*.bak
backend/.pytest_cache/
backend/static/
frontend-foody-front.bak/
